/* 
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  } */

.poke-img {
    max-width: 144px;
    display: block;
    text-align: center;
}

#typeSet, h5, h4 {
    text-shadow: 2px 2px 5px #aaa;
    text-transform: capitalize;
}

#More {
    box-shadow: 5px 5px 5px -2px #aaa;
}

#this-div {
    max-width: 100vw;
}